{% extends 'base.html' %} {% block content %}
<div class="container">
  <form action="" method="POST" class="needs-validation" novalidate>
    <fieldset class="form-group">
      <legend class="form-goup border-bottom">
        Forgot Password
      </legend>
      <p>Please enter the username you registered your account with</p>
      <div class="form-group">
        <label class="form-control-label" for="username">Username</label>
        <input
          type="text"
          id="username"
          class="form-control form-control-lg"
          name="username"
          required
          value=""
          autofocus
        />
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <input
        type="submit"
        value="Forgot my password"
        name="submit"
        class="btn btn-outline-info btn-md"
      />
    </div>
  </form>
</div>

{% endblock content %}
