{% extends 'base.html' %} {% block content %}
<div class="container">
  <form action="" method="POST" class="needs-validation" novalidate>
    <fieldset class="form-group">
      <legend class="form-goup border-bottom">
        Please enter a new password
      </legend>
      <div class="form-group">
        <label class="form-control-label" for="password">New Password</label>
        <input
          type="password"
          id="password"
          class="form-control form-control-lg"
          name="password"
          required
          value=""
          autofocus
        />
        <div class="valid-feedback">
          looks good!
        </div>
        <label class="form-control-label" for="password_repeat"
          >Re-enter Password</label
        >
        <input
          type="password"
          id="password_repeat"
          class="form-control form-control-lg"
          name="password_repeat"
          required
          value=""
          autofocus
        />
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <input
        type="submit"
        value="Change Password"
        name="submit"
        class="btn btn-outline-info btn-md"
      />
    </div>
  </form>
</div>

{% endblock content %}
