<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Might stop favicon.ico error in console.  -->
    <link rel="shortcut icon" href="../static/logos/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/logos/logoblk.ico') }}" type="image/x-icon" />

    <title>Matcha</title>
</head>
<p id='username' class='d-none'> {{ logged_in }}</p>

<body>
    <header class="site-header">
        <nav style="background: rosybrown!important;"class="navbar d-print navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Matcha</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if logged_in %}
                        <a class="nav-item nav-link" href="{{  url_for('main.users') }}">Profiles</a>
                        <a href="{{ url_for('profile.profile') }}" class="nav-item nav-link">Profile</a>
                        <a href="{{ url_for('auth.logout') }}" class="nav-item nav-link">Logout</a>
                        <a href="{{ url_for('chat.chat')}}" class="nav-item nav-link">Chats</a>
                        <button type='button' id='inbox' class="notification btn" data-toggle="collapse" data-target="#notification" aria-expanded="false" aria-controls="collapse">
                            <span>Notifications</span>
                            {% if current_user and current_user['notifications'] %}
                            <span class="badge" id='badge'>new</span>
                            {% else %}
                            <span class="badge" id='badge'></span>
                            {% endif %}
                        </button> {% else %}
                        
                        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a> {% endif %}
                    </div>

                </div>
            </div>
        </nav>
    </header>
    
    <div class="bannerbig"></div>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    {% if current_user %}
                    <div class="collapse" id='notification'>
                        {% for notif in current_user['notifications'] %}
                        <p>{{ notif }}</p>
                        {% endfor %}
                    </div>
                    {% endif %} {% if search %}
                    <h3>Search</h3>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">
                                <form action="{{ url_for('main.search_username') }}" method='POST'>
                                    <input class="form-control" type="text" name='username' placeholder="username">
                                    <br />
                                    <input type="submit" name='submit' value='search' class='btn btn-sm btn-outline-info'>
                                </form>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                Age
                                <form action="{{ url_for('main.search_age') }}" method='POST'>
                                    <select class="form-control" name="age" id="age">
                                        <option value="">Choose option</option>
                                        <option value="29">18 to 29</option>
                                        <option value="39">30 to 39</option>
                                        <option value="100">over 40</option>
                                    </select>
                                    <br />
                                    <input type="submit" name='submit' value='search' class='btn btn-sm btn-outline-info'>
                                </form>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                Fame rating
                                <form action="{{ url_for('main.search_fame') }}" method="POST">
                                    <select class="form-control" name="fame" id="fame1">
                                        <option value="">Choose option</option>
                                        <option value="10">0% to 9%</option>
                                        <option value="20">10% to 19%</option>
                                        <option value="30">20% to 29%</option>
                                        <option value="40">30% to 39%</option>
                                        <option value="50">40% to 49%</option>
                                        <option value="60">50% to 59%</option>
                                        <option value="70">60% to 69%</option>
                                        <option value="80">70% to 79%</option>
                                        <option value="90">80% to 89%</option>
                                        <option value="100">90% to 100%</option>
                                    </select>
                                    <br />
                                    <input type="submit" name='submit' value='search' class='btn btn-sm btn-outline-info'>
                                </form>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                Location
                                <form action="{{ url_for('main.search_location') }}" method="POST">
                                    <select class="form-control" name="location" id="location">
                                        <option value="">Choose option</option>
                                        <option value="Johannesburg">Johannesburg</option>
                                        <option value="Cape Town">Cape Town</option>
                                        <option value="Durban">Durban</option>
                                        <option value="Pretoria">Pretoria</option>
                                        <option value="Polokwane">Polokwane</option>
                                    </select>
                                    <br />
                                    <input type="submit" name='submit' value='search' class='btn btn-sm btn-outline-info'>
                                </form>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                Interests
                                <form action="{{ url_for('main.search_interest') }}" method='POST'>
                                    <div class="form-group" id="test">
                                        <input type="checkbox" id="traveling" name="Traveling" value="Traveling">#Traveling<br>
                                        <input type="checkbox" id="animals" name="Animals" value="Animals">#Animals<br>
                                        <input type="checkbox" id="technology" name="Technology" value="Technology">#Technology<br>
                                        <input type="checkbox" id="sky-diving" name="Sky-diving" value="Sky-diving">#Sky-diving<br>
                                        <input type="checkbox" id="movies" name="Movies" value="Movies">#Movies<br>
                                        <input type="checkbox" id="music" name="Music" value="Music">#Music<br>
                                        <input type="checkbox" id="cooking" name="Cooking" value="Cooking">#Cooking<br>
                                        <input type="checkbox" id="sports" name="Sports" value="Sports">#Sports<br>
                                        <input type="checkbox" id="gaming" name="Gaming" value="Gaming">#Gaming<br>
                                    </div>
                                    <input type="submit" name='submit' value='search' class='btn btn-sm btn-outline-info'>
                                </form>
                            </li>
                            <!-- <li class="list-group-item list-group-item-light">
                                Advance Search
                                <br />
                                <input type="submit" name="submit" value="search" id="advance_search" onclick="advance_search()" class='btn btn-sm btn-outline-info'>
                            </li> -->
                        </ul>
                        <br />
                    </p>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    {% block js %}{% endblock js %}
</body>

</html>